{% extends 'base.html' %}

{% block content %}
    <h3 style="text-align: center;">{{search | title }}</h3>
    <div class="row">
        <div class="col s4">
            <div class="card">
                <div class="card-image">
                    <a href="/"><img src="https://previews.123rf.com/images/arsenisspyros/arsenisspyros1809/arsenisspyros180900019/108090521-blank-page-of-a-sketchbook-with-a-black-pencil-on-a-grunge-gray-surface.jpg" alt=""></a>
                </div>
                <div class="card-content">
                    <p>TEST</p>
                </div>
                <div class="card-action">
                    <a href="/">View listing: Price TEST PRICE</a>
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="card">
                <div class="card-image">
                    <a href="/"><img src="https://previews.123rf.com/images/arsenisspyros/arsenisspyros1809/arsenisspyros180900019/108090521-blank-page-of-a-sketchbook-with-a-black-pencil-on-a-grunge-gray-surface.jpg" alt=""></a>
                </div>
                <div class="card-content">
                    <p>TEST</p>
                </div>
                <div class="card-action">
                    <a href="/">View listing: Price TEST PRICE</a>
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="card">
                <div class="card-image">
                    <a href="/"><img src="https://previews.123rf.com/images/arsenisspyros/arsenisspyros1809/arsenisspyros180900019/108090521-blank-page-of-a-sketchbook-with-a-black-pencil-on-a-grunge-gray-surface.jpg" alt=""></a>
                </div>
                <div class="card-content">
                    <p>TEST</p>
                </div>
                <div class="card-action">
                    <a href="/">View listing: Price TEST PRICE</a>
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="card">
                <div class="card-image">
                    <a href="/"><img src="https://cdn.arteza.com/products/20/05/sketch-pad-toned-gray_7fPthj1S_526x526.jpg" alt=""></a>
                </div>
                <div class="card-content">
                    <p>TEST</p>
                </div>
                <div class="card-action">
                    <a href="/">View listing: Price TEST PRICE</a>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}