.card {
    height: 400px;
    overflow: hidden;
}
.card-image {
    height: 250px;
    overflow: hidden;
}
.Card{
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}