{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align: center;">This is a login page which is working..</h1>
    <div class="container">
        <div class="Wrapper">
            <div class="Card">
                <h1 style="text-align: center;">Login</h1>
                <form action="{% url 'new_search' %}" method="post">
                    {% csrf_token %}
                    <label>Username</label>
                    <input type="text" name="username" placeholder="Username">
                    <label>Email</label>
                    <input type="text" name="email" placeholder="Email">
                    <label>Password</label>
                    <input type="password" name="password" placeholder="Password">
                    <button class="btn waves-effect waves-light" type="submit" name="action">Login
                        <i class="material-icons right">send</i>
                    </button>
                </form>
                <div>
                    Dont have an account?? <a href="/">Register here</a>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>